
# Firebase credentials
backend/config/firebase-service-account.json

# Environment variables
.env

backend\node_modules\.bin
# Firebase credentials
backend/config/firebase-service-account.json

# Environment variables
.env

backend\node_modules

backend\.env

backend\node_modules\.bin
backend\node_modules\.bin